@import "../common/styles/variables";

.header {
    height: 12vh;
    padding: 30px;
    background: $bgColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 90;
}

