.contactForm {
    width: 600px;
    margin: 0 auto;
}

.contactForm form {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    height: 40px;
}

.contactForm textarea {
    height: 80px;
}

.contactForm button {
    width: 200px;
margin-top: 80px;
}
