@import "../common/styles/variables";
@import "../common/styles/mixins";

.resumeBlock {
    min-height: 100vh;
    background: $bgColor;
    color: $bgColor;
}

.resume {
    border: 1px solid $bgColor;
    display: flex;
    align-content: space-between;

    @media (max-width : 860px) {
        flex-wrap: wrap;
    }
}

.column {
    width: 47%;
    border: 1px solid;

    @media (max-width : 860px) {
        width: 100%;
    }
}

.subTitle {
    font-size: 24px;
    color: $titleColor;
    text-align: center;
    padding: 0 0 30px;
    border-bottom: 2px solid $titleColor;
}

