.resumeBlock {
    min-height: 100vh;
    background: var(--white-color);
    color: var(--green-color);
}

.resume {
    border: 1px solid var(--red-color);
    display: flex;
    align-content: space-between;
}

.column {
    width: 47%;
    border: 1px solid;
}

.subTitle {
    text-align: center;
}

@media (max-width : 860px) {
    .resume {
        flex-wrap: wrap;
    }

    .column {
        width: 100%;
    }
}