@import "../../common/styles/variables";
@import "../../common/styles/mixins";

.container {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 120px;
}

.contentSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width : 860px) {
        justify-content: center;
    }
}

.contentSpaceAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}



strong {
    font-family: $primaryFontFamily;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: none;
    margin-left: 10px;
}

.sectionTitle {
    @include title(34px, center);
    margin-bottom: 10px;
}