
$bgSecondColor: #1d222a //+ //--white-color: #FFFFFF;
//$bgColor: #30353B //+  //--linen-color: #f0ebe3; /*--red-color: --light-green-color*/
$bgColor: #2F343B //+  //--linen-color: #f0ebe3; /*--red-color: --light-green-color*/
$textColor: #7a7a7a //+  //--black-color: #000000; /* --gray-color*/
$titleColor: #eaeaea //+
$primaryColor: #29a587 //--green-color: #29a587; /*pinc-color*/

$primaryFontFamily: 'Caveat', cursive
$secondaryFontFamily: 'Jost', sans-serif
$textFontFamily: 'Roboto', sans-serif
