@import "../../common/styles/variables";
@import "../../common/styles/mixins";

.skill {
  width: 350px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 70px;
}
.svgIcon {
  width: 35px;
  height: 35px;
  color: $titleColor;
  text-align: center;
}

.title {
  color: $textColor;
  @include title(21px, left);
  text-transform: none;
}
