@import "../../common/styles/variables";
@import "../../common/styles/mixins";

.skill {
    width: 350px;
    display: flex;
    flex-direction: column;
}

//.icon {
//    width: 40px;
//    height: 40px;
//    transform: rotate(45deg) translate(7px,7px);
//}

.title {
    color: $textColor;
    @include title(21px, left);
    text-transform: none;
}

//.description {
//    color: $textColor;
//    text-align: center;
//}