.skillsBlock {
    min-height: 100vh;
    background: var(--gray-color);
    color: var(--white-color);
}

.skills {
    border: 1px solid var(--red-color);
    align-content: space-between;
    gap: 20px;
}

