.skillsBlock {
    min-height: 100vh;
    background: var(--gray-color);
    color: var(--white-color);
}

.title {
    font-weight: bold;
    text-align: center;
}

.skills {
    border: 1px solid var(--red-color);
}

