@import "../common/styles/variables";
@import "../common/styles/mixins";

.mainBlock {
    background: $bgColor;
    height: 88vh;
}

.headTitle {
    @include title(64px, left);
    margin: 15px 0 0;
    text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000, 5px 5px 0px rgba(0,0,0,.2);
    &>span {
        color: $primaryColor;
    }
}

.subtitle {
    @include title(15px, left);
    &>span {
        color: $primaryColor;
    }
}

//.text {
//    //width: 300px;
//    background: $bgColor;
//}

//.photo {
//    width: 300px;
//    height: 400px;
//    background-image: url('../assets/pattern.png')
//}