.mainBlock {
    height: 100vh;
    background: var(--pinc-color);
}


.text {
    width: 300px;
    background: var(--red-color);
}

.photo {
    width: 300px;
    height: 400px;
    background: var(--gray-color);
}