@import "./common/styles/variables";

* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;
  font-family: $secondaryFontFamily;
  color: $textColor;
  background-color: $bgColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
