.nav {
    border: 1px solid var(--green-color);
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-transform: uppercase;
}

a,
a:hover {
    text-decoration: none;
}
