@import "../common/styles/variables";

.nav {
    border: 1px solid $primaryColor;
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-transform: uppercase;
}

a,
a:hover {
    text-decoration: none;
}
