@import "../common/styles/variables";

.footerBlockContainer {
    min-height: auto;
}

.socialLinks {
    width: 400px;
    margin: 0 auto;

    @media (max-width : 860px) {
        width: 100%;
        padding: 10px;
        justify-content: space-between;
    }
}

.icon {
    background: $bgColor;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(7px,7px);
}

.copyright {
    text-align: center;
    margin-top: 60px;
}


