@import "../common/styles/variables";
@import "../common/styles/mixins";

.footerBlock {
  background: $bgSecondColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 60px;

  .socialLinks {
    .icon {
      margin: 0 10px;
    }

    @media (max-width: 860px) {
      width: 100%;
      padding: 10px;
      justify-content: space-between;
    }
  }

  .copyright, .text  {
    @include title(13px, center);
    margin: auto 0;
  }

  .text {
    & span {
      color: $primaryColor;
    }
  }
}








