@import "../../common/styles/variables";
@import "../../common/styles/mixins";

//.icon {
//  width: 56px;
//  height: 56px;
//  border: 2px solid $textColor;
//  background-color: $bgSecondColor;
//  border-radius: 50%;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  box-shadow: 5px 5px 0 rgba(122, 122, 122, 0.3);
//
//  &::after {
//    content: '';
//    position: absolute;
//    height: 2px;
//    width: 30px;
//    background: $textColor;
//    margin-left: 85px;
//  }
//}

.place {
  color: $titleColor;
  background-color: $bgColor;
  box-shadow: none;
  border-bottom: 2px solid $textColor;

}

.content {
  //background-color: $bgColor;
  padding: 30px;
  margin: 0;
}

.placeName {
  font-size: 21px;
  text-align: left;
  margin: 0;
  padding: 30px;

  @media (max-width: 576px) {
    padding: 30px 0;
  }
}

.history {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 30px;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  @media (max-width: 860px) {
    flex-direction: row;
  }

  @media (max-width: 576px) {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
  }
}

.position {
  & strong {
    line-height: 40px;
    font-size: 28px;
    margin-left: 0;
  }
}

.years {
  line-height: 46px;
  @include title(13px, left);

  & span {
    color: $primaryColor;
  }

  @media (max-width: 1024px) {
    display: flex;
    justify-content: flex-end;
  }
}

.description {
  text-align: left;
  padding: 15px 50px 30px 30px;
  color: $textColor;
  line-height: 1.7;
  @media (max-width: 576px) {
    padding-left: 0;
    padding-right: 0;
  }
}