@import "../../common/styles/variables";

.place {
    color: $titleColor;
}

.history {
    display: flex;
    justify-content: space-between;
}

.position {

}

.years {

}

.description {
    text-align: left;
}