@import "../common/styles/variables";

.projectsBlock {
    background: $bgColor;
}

.projects {
    display: flex;
    align-content: space-between;
    @media (max-width: 860px) {
        justify-content: space-between;
    }
}

